<section>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Utworz post
        </mat-panel-title>
      </mat-expansion-panel-header>


      <div>
        <input type="file" name="file" id="file" (change)="uploadImage($event)">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>

      <mat-form-field>
        <input matInput placeholder="Tytuł postu" [(ngModel)]="title">
      </mat-form-field>

      <mat-form-field>
        <textarea input matInput placeholder="Opis postu" [(ngModel)]="content" rows="10"></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="createPost()" [disabled]="!title || !content">{{ bottomText }}</button>
    </mat-expansion-panel>
  </mat-accordion>
</section>
